@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #00B7FF;
}

main {
    padding: 25px;
}

.navbar-dark {
    background-color: #00A85C;
    padding-left: 20px;
}

h1 {
    color: #737378;
}

.nav-link {
    color: rgb(255, 255, 255);
}